* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}
@font-face {
	font-family: Roboto-Medium;
	src: url(../fonts/Roboto-Medium.ttf);
}
@font-face {
	font-family: Roboto-Bold;
	src: url(../fonts/Roboto-Bold.ttf);
}
body {
	font-family: Roboto-Medium, sans-serif, monospace;
}
/* ! estilos scrool */
::-webkit-scrollbar-track {
	display: none;
}
::-webkit-scrollbar {
	display: none;
}
.scroll__contenedor {
	width: 15%;
	height: 100vh;
	position: fixed;
	right: 0;
	top: 0;
	bottom: 0;
	padding: 0 5px 0 0;
	overflow: hidden;
	z-index: 200;
}
.scroll__contenedor__estilos {
	position: absolute;
	width: 30px;
	height: 100vh;
	right: 0;
	top: 0;
	bottom: 0;
	background: #ffffff;
	z-index: 1;
}
.scrollbar-items {
	width: 30px;
	height: 100%;
	position: relative;
}
.contenedor__scroll__nav {
	position: absolute;
	z-index: 200;
	width: 150px;
	height: 40px;
	background-color: #2e2e2e;
	left: 200px;
	top: 0;
	transition: 2s;
	display: flex;
	justify-content: center;
	align-items: center;
}
.contenedor__scroll__nav a {
	color: #ffffff;
	font-size: 1.7rem;
}
.ancla--1 {
	top: 0%;
	transition: 1s;
}
.ancla--1:hover {
	background-color: #ffff;
}
.ancla--1:hover a {
	color: black;
}
.ancla--2 {
	top: 10%;
	transition: 1.5s;
}
.ancla--2:hover {
	background-color: #cb3200;
}
.ancla--3 {
	top: 25%;
	transition: 2s;
}
.ancla--3:hover {
	background-color: #750b00;
}
.ancla--4 {
	top: 54%;
	transition: 2.5s;
}
.ancla--4:hover {
	background-color: #2e2e2e;
}
.ancla--5 {
	top: 70%;
	transition: 3s;
}
.ancla--5:hover {
	background-color: #ffa300;
}
.ancla--6 {
	top: 90%;
	transition: 3.5s;
}
.ancla--6:hover {
	background-color: #08a6e7;
}
.scroll__contenedor:hover .contenedor__scroll__nav {
	transform: translateX(-355px);
}
.scrollbar-content {
	position: absolute;
	z-index: 5;
	bottom: 0%;
	width: 30px;
	height: 100%;

	transition: 2s;
}
.scroll__contenedor:hover .content--6 {
	height: 10%;
	background: #08a6e7;
}
.scroll__contenedor:hover .content--5 {
	height: 30%;
	background: #ffa300;
}
.scroll__contenedor:hover .content--4 {
	height: 46%;
	background: #2e2e2e;
}
.scroll__contenedor:hover .content--3 {
	height: 75%;
	background: #750b00;
}
.scroll__contenedor:hover .content--2 {
	height: 90%;
	background: #cb3200;
}
.scroll__contenedor:hover .content--1 {
	height: 100;
	background: #fff;
}
/* ! estilos scrool FIN */
header video {
	position: absolute;
	width: 100%;
	height: 100vh;
	object-fit: cover;
}
.logo {
	position: absolute;
	top: 30px;
	left: 30px;
	width: 200px;
	min-width: 200px;
	z-index: 5;
}
.header__contenedor-menu {
	position: absolute;
	font-size: 1.4rem;
	color: white;
	letter-spacing: 3px;
	width: 100%;
	cursor: pointer;
	z-index: 5;
}
.menu1 {
	position: absolute;
	top: 140px;
	left: 30px;
	transform: rotate(270deg);
}
.menu2 {
	position: absolute;
	bottom: 130px;
	left: -50px;
	transform: rotate(270deg);
}
.header__contenedor-titulo {
	position: relative;
	width: 80%;
	height: 100vh;
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: white;
}
.header__contenedor-titulo h1 {
	font-size: 9rem;
	font-weight: bold;
	letter-spacing: 15px;
}
.header__contenedor-titulo h2 {
	font-size: 3rem;
	letter-spacing: 5px;
}

.overlay-detail a i {
	text-align: center;
	padding: 5px;
	position: absolute;
	top: 600px;
	/* bottom: 25px; */
	left: calc(50% - 8px);
	font-size: 38px;
	color: #fff;
	animation-name: rebote;
	animation-duration: 2s;
	animation-delay: 0.4s;
	animation-iteration-count: infinite;
}
@keyframes rebote {
	20%,
	50%,
	80% {
		transform: translateY(0px);
	}
	40% {
		transform: translateY(-45px);
	}
	60% {
		transform: translateY(-25px);
	}
}

/*! Seccion inicio Historia */
.secccion__historia {
	width: 100%;
	height: 400vh;
	overflow: hidden;
	background-image: linear-gradient(
		179.2deg,
		rgba(34, 34, 34, 1) 0%,º
		rgba(8, 0, 153, 1) 59.7%,
		rgba(118, 6, 166, 1) 83.4%,
		rgba(233, 0, 64, 0.58) 100.1%
	);
	color: white;
	display: flex;
	align-items: center;
	flex-direction: column;
	margin: auto;
	position: relative;
}
/* ? Inicio Fondo de estrellas animada  */
.secccion__historia .star {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: inherit;
	pointer-events: none;
	animation: galaxia 8s ease-in-out infinite, backgroundMove 16s linear infinite;
}
.star.star1 {
	animation-delay: 0s;
	background-image: url(../image/star1.png);
}
.star.star2 {
	animation-delay: -1s;
	background-image: url(../image/star2.png);
}
.star.star3 {
	animation-delay: -2s;
	background-image: url(../image/star3.png);
}
.star.star4 {
	animation-delay: -3s;
	background-image: url(../image/star4.png);
}
.star.star5 {
	animation-delay: -4s;
	background-image: url(../image/star5.png);
}
.star.star6 {
	animation-delay: -5s;
	background-image: url(../image/star6.png);
}
.star.star7 {
	animation-delay: -6s;
	background-image: url(../image/star7.png);
}
.star.star8 {
	animation-delay: -7s;
	background-image: url(../image/star8.png);
}
@keyframes galaxia {
	0%,
	20%,
	40%,
	60%,
	80%,
	100% {
		opacity: 0;
	}
	10%,
	30%,
	50%,
	70%,
	90% {
		opacity: 1;
	}
}
@keyframes backgroundMove {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(1.4);
	}
}
/* ? Final Fondo de estrellas animada*/
.secccion__historia h2 {
	font-size: 5rem;
	letter-spacing: 5px;
	padding-top: 100px;
}
.secccion__historia1-contenedor {
	position: relative;
	width: 100%;
	height: inherit;
	max-width: 1440px;
}
.animacion-nave {
	width: 300px;
	position: absolute;
	top: 10vh;
	left: calc(50% - 160px);
	transform: rotate(180deg);
}
.historia1__planeta {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: black;
}
.historia1__planeta p {
	font-size: 1.8rem;
}
.planeta1 {
	background-image: url(../image/tierra.png);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	width: 200px;
	height: 200px;
	opacity: 0;
	top: 100vh;
	right: 15%;
}
.planeta2 {
	background-image: url(../image/planeta2.png);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	opacity: 0;
	width: 300px;
	height: 300px;
	left: 10%;
	top: 100vh;
}
.planeta4 {
	background-image: url(../image/planeta4.png);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	opacity: 0;
	width: 400px;
	height: 400px;
	top: 0px;
	right: -100vw;
}
.planeta5 {
	background-image: url(../image/planeta3.png);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	opacity: 0;
	width: 350px;
	height: 350px;
	left: -100vw;
	top: 5vh;
}
.planeta6 {
	background-image: url(../image/planeta5.png);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	opacity: 0;
	width: 400px;
	height: 400px;
	right: 10vw;
	top: 120vh;
}
/*! Seccion final Historia */
.secccion__contenedor {
	width: 100%;
	height: 100vh;
	position: relative;
	overflow: hidden;
}
.nosotros__contenedor {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
}
.nosotros__cuadrado {
	width: 200px;
	height: 500px;
	clip-path: inset(0 40% 0 20%);
	opacity: 0.9;
	background-color: hsl(218, 100%, 33%);
	position: absolute;
}
.cuadrado1 {
	background: #ffa300;
	clip-path: inset(0 20% 0 40%);
	left: 60px;
	bottom: 0px;
}
.cuadrado4 {
	background-color: hsl(218, 100%, 33%);
	clip-path: inset(0 40% 0 20%);
	left: 60px;
	bottom: 0;
	height: 50px;
}
.cuadrado2 {
	background: #ffa300;
	clip-path: inset(0 20% 0 40%);
	height: 50px;
	right: 60px;
	top: 0;
}
.cuadrado3 {
	top: 0px;
	right: 60px;
	position: absolute;
}
.nosotros__contenedor__texto {
	width: 50%;
	height: 40%;
	margin: auto;
	box-shadow: -7px 15px 20px 12px rgba(0, 0, 0, 0.2);
}
.nosotros__contenedor__texto2 {
	box-shadow: 28px 31px 0px 9px hsl(218, 100%, 33%);
}
.nosotros__titulo {
	width: 70%;
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	font-size: 5rem;
	padding-top: 20px;
	letter-spacing: 8px;
}
.nosotros__titulo__arriba {
	position: absolute;
	left: 30px;
	top: 40px;
	color: hsl(218, 100%, 33%);
	z-index: 2;
}
.nosotros__titulo__abajo {
	position: absolute;
	left: 90px;
	top: 65px;
	color: #ffa300;
	opacity: 0.7;
}
.nosotros__texto {
	width: 80%;
	margin: auto;
	padding-top: 140px;
	font-size: 1.5rem;
}
.secccion__nosotros1 {
	z-index: 1;
	background: white;
}
.secccion__nosotros2 {
	z-index: 2;
	background-color: white;
}
.secccion__nosotros3 {
	z-index: 5;
	background-color: white;
}
.secccion__productos {
	width: 100%;
	height: 100vh;
	position: relative;
	overflow: hidden;
}
.nosotros__cuadrado2 {
	width: 200px;
	height: 280px;
	clip-path: inset(0 0 70% 0);
	opacity: 0.9;
	background-color: hsl(218, 100%, 33%);
	position: absolute;
}
.cuadrado5 {
	background: #ffa300;
	clip-path: inset(15% 0 55% 0);
	left: 0px;
	bottom: 0px;
}
.cuadrado8 {
	background-color: hsl(218, 100%, 33%);
	clip-path: inset(0 0 70% 0);
	left: 0px;
	bottom: 0px;
	height: 280px;
}
.cuadrado6 {
	background: #ffa300;
	clip-path: inset(15% 0 55% 0);
	height: 280px;
	right: 0px;
	top: 0;
}
.cuadrado7 {
	top: 15px;
	right: 0px;
	position: absolute;
}
.productos__contenedor__texto {
	box-shadow: none;
}
.productos__titulo__arriba {
	left: 20px;
	top: 10px;
}
.productos__titulo__abajo {
	left: 110px;
	top: 48px;
}
.productos__texto {
	width: 100%;
	margin: auto;
	padding-top: 140px;
	font-size: 1.5rem;
	text-align: center;
}
.productos__contenedor {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
}
.productos__contenedor2 {
	background-color: #161616;
	z-index: 3;
	position: relative;
}
.project-preview-wrapper {
	width: 400%;
	height: 100vh;
	left: 50px;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
}
.project-preview {
	width: 80%;
	height: 80%;
	margin: 40px;
}
.project-preview-1 {
	background-image: url(../image/pexels2.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.project-preview-2 {
	background-image: url(../image/pexels1.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.project-preview-3 {
	background-image: url(../image/pexels3.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.project-preview-4 {
	background-image: url(../image/pexels4.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.project-preview-5 {
	background-image: url(../image/pexels5.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.lista__navegacion {
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	margin-top: 100px;
}
.navegacion__items {
	display: block;
	user-select: none;
	margin: 90px 20px;
	position: relative;
	font-size: 4rem;
}
.items__numeros {
	position: absolute;
	font-size: 8rem;
	left: calc(50% - 20px);
	top: -180px;
	color: rgba(255, 255, 255, 0.3);
}
.items__productos {
	transform: rotate(90deg);
}
a {
	text-decoration: none;
	color: rgba(255, 255, 255, 0.3);
	letter-spacing: 4px;
}
span {
	display: block;
}
.navegacion__items span:before {
	width: 0;
	color: #ffffff;
	overflow: hidden;
	position: absolute;
	content: attr(data-text);
	transition: all 1.5s cubic-bezier(0.84, 0, 0.08, 0.99);
}
.navegacion__items span:hover:before {
	width: 100%;
}
.secccion__clientes {
	width: 100%;
	height: 100vh;
	background-color: #ffffff;
	position: relative;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}
.hexagono {
	width: 200px;
	height: 200px;
	background-color: #d9dde8;
	position: absolute;
	transform: rotate(90deg);
	clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}
.hexagono1 {
	right: 30px;
	top: -50px;
}
.hexagono2 {
	left: -10px;
	bottom: -45px;
}
.clientes__contenedor__titulo {
	width: 450px;
	height: 400px;
	position: relative;
	clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
	transform: rotate(90deg);
	background-color: #d9dde8;
	display: flex;
	align-items: center;
	justify-content: center;
}
.clientes__contenedor__titulo--1 {
	width: 80%;
	height: 80%;
	position: relative;
	clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
	background-color: #ffffff;
}
.clientes__contenedor__titulo--2 {
	width: 50%;
	height: 50%;
	position: absolute;
	clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
	background-color: #d9dde8;
}
.clientes__titulo__arriba {
	font-size: 6rem;
	transform: rotate(270deg);
	left: calc(40% - 100px);
	top: 220px;
	color: #ee3657;
}
.clientes__titulo__abajo {
	font-size: 6rem;
	transform: rotate(270deg);
	left: calc(50% - 100px);
	top: 110px;
	color: #362c5a;
}
.hexagono__imagen__contenedor {
	width: 35%;
	max-width: 490px;
	margin: auto;
	height: inherit;
	position: absolute;
}
.hexagono__imagen {
	width: 200px;
	height: 200px;
	position: absolute;
	clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
	transform: rotate(90deg);
	background-color: #d9dde8;
	bottom: -500px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.hexagono__imagen1 {
	opacity: 0;
}
.hexagono__imagen2 {
	right: 0;
	opacity: 0;
}
.hexagono__imagen3 {
	left: 0;
	opacity: 0;
}
.hexagono__imagen4 {
	right: 0;
	opacity: 0;
}
.hexagonofondo {
	background-color: white;
	width: 85%;
	height: 85%;
	z-index: 5;
	clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}
.hexagono--logo1 {
	width: 100%;
	transform: rotate(90deg);
	height: 100%;
	z-index: 8;
	background-image: url(../image/OIP.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.hexagono--logo2 {
	width: 100%;
	transform: rotate(270deg);
	height: 100%;
	z-index: 8;
	background-image: url(../image/CONDUMEX.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.hexagono--logo3 {
	width: 100%;
	transform: rotate(270deg);
	height: 100%;
	z-index: 8;
	background-image: url(../image/dhl.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}
.hexagono--logo4 {
	width: 100%;
	transform: rotate(270deg);
	height: 100%;
	z-index: 8;
	background-image: url(../image/BD.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}
.contenedor__contáctanos {
	width: 100%;
	height: 100vh;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #e8e8e8;
}
.contenedor__contáctanos__mapa {
	width: 380px;
	height: 290px;
	background-image: url(../image/2021-02-11.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	box-shadow: -10px 12px 24px 12px rgb(0 0 0 / 20%);
}
.contenedor__contáctanos__formulario {
	width: 380px;
	height: 290px;
	margin-left: 120px;
	box-shadow: -10px 12px 24px 12px rgb(0 0 0 / 20%);
	position: relative;
	background: #ffffff;
}
.contenedor__contáctanos__formulario h2 {
	position: absolute;
	top: -35px;
	left: calc(50% - 200px);
	color: hsl(218, 100%, 33%);
	font-size: 5.7rem;
}
.contáctanos__items {
	width: 90%;
	height: auto;
	padding-top: 50px;
	margin: auto;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.contáctanos__items__contenedor {
	width: 35%;
	height: auto;
	margin: 15px;
}
.icono_naranja {
	font-size: 23px;
	padding-bottom: 10px;
	color: #b92000;
}
.fantasma {
	pointer-events: none;
	background: transparent;
	color: transparent;
}
.items__texto__negritas {
	font-size: 1.3rem;
	letter-spacing: 0.7px;
	font-weight: bold;
}
.items__texto {
	font-size: 1.2rem;
	letter-spacing: 0.3px;
}
.contáctanos__iconos__redes {
	width: 100%;
	height: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.iconos_redes {
	font-size: 25px;
}
.fa-facebook-square {
	margin-right: 10px;
	color: rgb(59, 89, 152);
}
.fa-twitter-square {
	color: rgb(0, 160, 233);
}
.formulario {
	position: absolute;
	display: none;
	opacity: 0;
	width: 80%;
	left: calc(50% - 150px);
	top: -200px;
}
.form-input {
	width: 100%;
	margin-top: 8px;
	padding: 4px;
	font-family: monospace;
	font-size: 1.3rem;
	border: 0.5px solid rgba(0, 0, 0, 0.1);
}
.contenedor__boton {
	width: 100%;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}
.btn-contacto {
	font-size: 1rem;
	margin-top: 20px;
	padding: 8px 15px;
	border-radius: 20px;
	background-color: transparent;
	border: 0.5px solid rgba(0, 0, 0, 0.1);
}
